# -*- coding: utf-8 -*-

#
# Libs
#
import jsonrpclib
import csv
import sys
import logging

#
# Config
#
corpus = 'YOUR_CORPUS_NAME_HERE'
password = ''
log_file = 'start_importing_webentities_from_csv.log'
log_level = logging.DEBUG
webentities_file = 'YOUR_CSV_FILE_HERE'
depth_crawl = 1
phantom_crawl = False
# Should be of this format : 'http://hyphe.medialab.sciences-po.fr/INSTANCE-api/'
# if you usually access Hyphe from : 'http://hyphe.medialab.sciences-po.fr/INSTANCE/'
api_url = 'YOUR_API_URL_HERE'

#
# Programm
#
logging.basicConfig(filename = log_file, filemode = 'w', format = '%(asctime)s  |  %(levelname)s  |  %(message)s', datefmt = '%m/%d/%Y %I:%M:%S %p', level = log_level)
logging.info('start')

def main():
  # Connect to the Hyphe - API
  try :
    hyphe_core = jsonrpclib.Server(api_url, version = 1)
    logging.info('Connection success')
  except Exception as e :
    logging.error('Could not initiate connection to hyphe core')
    sys.exit(1)
  # Be sure that the corpus is started
  result = hyphe_core.start_corpus(corpus, password)
  if result['code'] == 'fail' :
    logging.error(result['message'])
    sys.exit(1)
  # Reset the corpus
  result = hyphe_core.reinitialize(corpus)
  logging.info(result)

  if result['code'] == 'fail' :
    logging.error(result['message'])
  else :
    logging.info(result['result'])
  logging.info('entering file')
  # Iterate over the web entities
  with open(webentities_file) as f :
    i = 0
    for webentity in csv.DictReader(f) :
      logging.info('line %s' % (i))
      i = i + 1
      prefixesAsUrls = convertSpaceSeparatedValueToArray(webentity['PREFIXES'])
      name = webentity['NAME']
      status = webentity['STATUS']
      startPages = convertSpaceSeparatedValueToArray(webentity['START PAGES'])
      wantedId = webentity['ID'];

      # Add web entities to corpus
      result = hyphe_core.store.declare_webentity_by_lrus_as_urls(prefixesAsUrls, name, status, startPages, corpus)
      # if result['code'] == 'fail' :
      #   logging.error(result['message'])
      # else :
      #   logging.info(result['result'])

      # Gets the newly created web entity
      remoteWebEntity = hyphe_core.store.get_webentity_for_url(prefixesAsUrls[0], corpus)
      if remoteWebEntity['code'] == 'fail':
        logging.error(remoteWebEntity['message'])
      else :
        # logging.info(remoteWebEntity['result'])
        remoteWebEntity = remoteWebEntity['result']
        # Sets the web entity id to the one present in the CSV file
        result = hyphe_core.store.change_webentity_id(remoteWebEntity['id'], wantedId, corpus)
        # if result['code'] == 'fail' :
        #   logging.error(result['message'])
        # else :
          # logging.info(result['result'])

      # For all web entities, reset the status to the one of the .csv file
      result = hyphe_core.store.set_webentity_status(webentity['ID'], webentity['STATUS'], corpus)

def convertSpaceSeparatedValueToArray(string):
  if string == '':
    return []
  else :
    return string.split(' ')

if __name__ == '__main__':
  main()
